<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team">
	<select id="getList"  parameterType="teamDto" resultType="teamDto">
			select name,win,lose,total,ground,leader
			FROM (SELECT result1.*,ROWNUM rnum
				  FROM (SELECT name,win,lose,total,ground,leader
				  		FROM team
				  		<where>
							<if test="name != null">
								OR name LIKE '%'||#{name}||'%'
							</if>
							<if test="leader != null">
								OR leader LIKE '%'||#{leader}||'%'
							</if>
							<if test="ground != null">
								OR ground LIKE '%'||#{ground}||'%'
							</if>
						</where>	
				  		ORDER BY win DESC) result1
				  )
			WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<insert id="insert" parameterType="TeamDto">
		insert into team
		(name,member,win,lose,total,ground,leader,saveFileName,orgFileName)
		values(#{name},#{member},0,0,0,#{ground},#{member},#{saveFileName},#{orgFileName})
	</insert>
	<select id="getData" parameterType="TeamDto" resultType="TeamDto">
		select name,member,win,lose,total,ground
		from team
		where name=#{name}
	</select>
	
	<select id="getCount" parameterType="teamDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM team
		<where>
			<if test="name != null">
				OR name LIKE '%'||#{name}||'%'
			</if>
			<if test="leader != null">
				OR leader LIKE '%'||#{leader}||'%'
			</if>
			<if test="ground != null">
				OR ground LIKE '%'||#{ground}||'%'
			</if>
		</where>	
	</select>
	
	<select  id="joindata" parameterType="TeamDto" resultType="TeamDto">
		select joinid
		from joinlist
		where jointeam=#{name}
	</select>
	<insert id="joinlist_insert" parameterType="TeamDto">
		insert into joinlist
		(jointeam,joinid)
		values (#{jointeam},#{joinid})
	</insert> 
	<update id="joinupdate" parameterType="TeamDto">
		UPDATE users4
		SET team=#{jointeam},responsibility='player'
		WHERE id=#{joinid}
	</update>
	<select id="memberliset" parameterType="TeamDto" resultType="usersDto">
		select id,responsibility,b_position,career 
		from users4
		where team=#{name}
	</select>
	<update id="leader_update" parameterType="TeamDto">
		update users4
		set team=#{name},responsibility='leader'
		where id=#{member}
	</update>
	<select id="awayteam" parameterType="MatchDto" resultType="MatchDto">
		select awayTeam, matchDate, ground, successMatching, homeTeam
		from matching
		where homeTeam=#{homeTeam}
	</select>
	
	<select id="awayteam2" parameterType="MatchDto" resultType="TeamDto">
		select successMatching, homeTeam
		from matching
		where homeTeam=#{homeTeam} and awayTeam=#{awayTeam}
	</select>
	
	<delete id="joindelete" parameterType="teamDto">
		delete from joinList
		where joinid=#{joinid}
	</delete>
	<select id="joininfo" parameterType="teamDto" resultType="usersDto">
		select id, name ,career ,b_position
		from users4
		where id=#{joinid}
	</select>
	<select id="awayteaminfo" parameterType="MatchDto" resultType="teamDto">
		select name,win,lose,total,ground,leader
		from team
		where name=#{awayteam}
	</select>
	<select id="getjointeam" parameterType="String" resultType="teamDto">
		select jointeam
		from joinlist
		where joinid=#{id}
	</select>
</mapper>














